
venv/
.venv/
env/
TODO.txt
test_master_data.py


**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


.env
app/seed_admin.py
app/test_imports.py
app/seed_data.py
app/test_buyer_orders_payments.py
app/test_master_data.py

.DS_Store
Thumbs.db

app.zip